	<!-- this title will appear at nav bar  -->


	<ion-view view-title="Welcome Customer">

	<ion-nav-buttons side="right">
	<button class="button" ng-click="logout()">Logout</button>
	</ion-nav-buttons>

	
	<ion-content>
	<!-- ionic pull to refresh -->
	  <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>


	<!-- list of meals -->
	<ion-list>
		<ion-item ng-repeat="bill in usersBills track by $index" ng-click="billClicked($index)">
			<p>{{bill.bill_issuer}}</p>
		</ion-item> 
	</ion-list>


	<!-- logout button  -->
		<button class="button button-block" ng-click="scanBarcode()">scan</button>

		

	</ion-content>
	</ion-view>

