	<!-- this title will appear at nav bar  -->


	<ion-view view-title="iBills"  hide-back-button="true">

	<ion-nav-buttons side="right">
	<button class="button" ng-click="logout()">Logout</button>
	</ion-nav-buttons>

	
	<ion-content>
	<!-- ionic pull to refresh -->
	  <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>



	<div class="list" ng-repeat="issuer in usersBills">

		<div class="item item-divider">
		{{issuer.$id}}
		</div>

		<div class="item" ng-repeat="bill in issuer.bills track by $index" ng-click="billClicked(issuer.$id, $index)">
		<i class="icon ion-ios-paper"></i>

		{{bill.total}} -/AED

		<span class="item-note">{{getDateString(bill.date)}}</span>
		</div>

		


	</div>


	<!-- logout button  -->
	<button class="button button-block button-positive" ng-click="scanBarcode()">Scan New Bill</button>

		

	</ion-content>
	</ion-view>

